{% load static %}
<!DOCTYPE html>
<style type="text/css" media="print">@page { size: landscape; }</style>
<html>
<head>
    <title>Certificado de Participação Django Girls</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="event-logo"></div>
    <header></header>
    <article>
        <div id="certificate">
            <h1>Certificado de Participação</h1>
            <p>Certificamos que</p>
            <p class="attendee">{{ object }}</p>
            <p>participou da <span>primeira</span> edição do</p>
            <p><span class="event-name">Django Girls</span></p>
            <p>cumprindo a carga horária de <span>16 horas</span></p>

            <p><span class="event-name">Django Girls</span></p>
            <p><span>7 e 8 de novembro de 2015</span></p>

            <p>Código <span></span></p>
            <p><span>7 e 8 de novembro de 2015</span></p>
        </div>
    </article>
    <footer></footer>
</body>
</html>

{% block extra_script %}
    <script>
        function print_certification() {
            window.print();
    }
    print_certification();
    </script>
{% endblock %}