<!DOCTYPE html>
<html>
<head>
    <title>CertiGen</title>
    <meta charset="utf-8">
    <meta name="description" content="Certificate Generator. Generates certificates for events, conferences and meetups.">
    <meta name="viewport" content="maximum-scale=1,width=device-width,initial-scale=1,user-scalable=0">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="event-logo"></div>
    <header></header>
    <article>
        <div id="certificate">
            <h1>Certificado de Participação</h1>
            <p>Certificamos que</p>
            <p class="attendee">{{ object }}</p>
            <p>participou da <span>primeira</span> edição do</p>
            <p><span class="event-name">Django Girls</span></p>
            <p>cumprindo a carga horária de <span>16 horas</span></p>

            <p><span class="event-name">Django Girls</span></p>
            <p><span>7 e 8 de novembro de 2015</span></p>

            <p>Código <span></span></p>
            <p><span>7 e 8 de novembro de 2015</span></p>
        </div>
    </article>
    <footer></footer>
</body>
</html>